services:
  back-end:
    build:
      context: ./back-end
      dockerfile: Dockerfile
    depends_on:
      - database
    ports:
      - "${BACKEND_PORT}:${BACKEND_PORT}"
    environment:
      - PORT=${BACKEND_PORT}
    volumes:
      - ./back-end:/usr/src/TODOAPP/back-end
      - back_end_node_modules:/usr/src/TODOAPP/back-end/node_modules
    working_dir: /usr/src/TODOAPP/back-end

  front-end:
    build:
      context: ./front-end
      dockerfile: Dockerfile
    depends_on:
      - back-end
    ports:
      - "${FRONTEND_PORT}:${FRONTEND_PORT}"
    environment:
      - FRONTEND_PORT=${FRONTEND_PORT}
    volumes:
      - ./front-end:/usr/src/TODOAPP/front-end
      - /usr/src/TODOAPP/front-end/node_modules
    working_dir: /usr/src/TODOAPP/front-end

  database:
    image: postgres:latest
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PORT: ${POSTGRES_PORT}
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./database/schema.sql:/docker-entrypoint-initdb.d/01-schema.sql

volumes:
  postgres_data:
  back_end_node_modules: